//
//  Development.xcconfig
//  IOSEnvironmentSetup
//
//  Created by Michael Haviv on 2/18/20.
//  Copyright © 2020 Michael Haviv. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Development.xcconfig
// Server URL
ROOT_URL = http:/$()/localhost:3000

// Keys
API_KEY = 783u9djd8a_hkzos7jd803001nd

// App Settings
APP_NAME = IOSEnvironmentSetup (dev)
APP_BUNDLE_ID = com.Michael-Haviv.IOSEnvironmentSetup.dev
