//
//  Staging.xcconfig
//  IOSEnvironmentSetup
//
//  Created by Michael Haviv on 2/18/20.
//  Copyright © 2020 Michael Haviv. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Staging.xcconfig
// Server URL
ROOT_URL = https:/$()/www.staging.IOSEnvironmentSetup.Michael-Haviv.com

// Keys
API_KEY = 89dhdyd93380dkqmoe_hd830dhq

// App Settings
APP_NAME = IOSEnvironmentSetup (staging)
APP_BUNDLE_ID = com.Michael-Haviv.IOSEnvironmentSetup.staging
